.player-top {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 15px solid blue;
    position: absolute;
    margin-top: 470px;
}

.player-body {
    width: 80px;
    height:15px;
    background-color: blue;
    position: absolute;
    margin-top: 485px;
}