.player {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid blue;
    position: absolute;
    margin-top: 475px;
}